#!/usr/bin/python3
# -*- coding: UTF-8 -*-
"""db_config contains the configuration of the database connection."""

# Configuration of the database connection.
#
# Rename this file as db_config.py and replace the text and square brackets
# with your settings in inverted commas.
# Settings must include user name and database and can include password, host
# and port.
#
# For example:
#
# CONNECTION = {
#     'user': 'root',
#     'password': 'your_password',
#     'host': '127.0.0.1',
#     'port': '3306',
#     'database': 'openfoodfacts',
#     'raise_on_warnings': True
# }
#
CONNECTION = {
    'user': [YOUR_USER_NAME_HERE],
    'password': [YOUR_PASSWORD_HERE],
    'host': [YOUR_HOST_HERE],
    'port':	[YOUR_PORT_HERE],
    'database': 'openfoodfacts',
    'raise_on_warnings': True
}
